<ul class="sidebar_menu">
  {% for key in site.category %}
  <li>
  	<div class="menu_liner"></div>
  	{% if key == "HOME" %}
    <a class="sidebar_menu_item" href="{{ site.baseurl }}/"> <span>{{ key }}</span> </a>
    {% elsif key == "ABOUT" %}
    <a class="sidebar_menu_item" href="{{ site.baseurl }}/{{ key }}/"> <span>{{ key }}</span> </a>
    {% elsif key == "ARCHIVE" %}
    <a class="sidebar_menu_item" href="{{ site.baseurl }}/{{ key }}/"> <span>{{ key }}</span> </a>
    {% else %}
    <a class="sidebar_menu_item" href="{{ site.baseurl }}/category/{{ key }}/"> <span>{{ key }}</span> </a>
    {% endif %}
  </li>
  {% endfor %}
</ul>
