
/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: 16px;
    line-height: $base-line-height;
    font-weight: 100;
    letter-spacing: 0.8px;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}

hr{
    display: block;
    height: 5px;
    border: 0;
    border-top: 1px solid rgba(0,0,0,0.1);
    margin: 10px 0px;
    padding: 0;
}

table{
    border-collapse: collapse;
}
table, th, td{
    border: solid 1px black;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    /*list-style: none;*/
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}



/**
 * Links
 */
a {
    text-decoration: none;
    //color:rgba(150,50,30,1);

    &:visited {
        //color:rgba(150,50,30,1);
    }

    &:hover {
        color:rgba(150,50,30,1);
        text-decoration: none;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid lighten(#e8b600,42%);
    padding-left: $spacing-unit / 2;
    //font-size: 18px;
    //letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */

figure{
    max-height: 450px;
}

pre {
    font-family: $base-font-family;
    font-size: 15px;
    border-radius: 3px;
    //padding: 8px 12px;
    tab-size:4;
}

pre table,th, td{
    border: none;
}

pre .lineno{
    background-color : #93a1a1;
    margin-right : 5px;
}

code {
    //padding: 1px 5px;
    font-family: $base-font-family;
}


/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(800px - (#{$spacing-unit} * 2));
    max-width:         calc(800px - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(800px - (#{$spacing-unit}));
        max-width:         calc(800px - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}
