/**
 * Tags
 */

.post-tags {
	margin-bottom: 30px;
	font-size: 15px;
}

.post-tag {
	display: inline-block;
	background-color: darken(#ffd026,12%);
	//background-color: #428bca;
	padding: 0 .5rem;
	border-radius: 4px;
	color: #fff;
	font-size:80%;
	transition: all 0.1s;
}
a.post-tag:hover {
    background-color: darken(#428bca, 20%);
    color: #fff;
 }

a.post-tag:visited {
    color: #fff;
 }

